<h5>a social tool for graduate school submissions</h5>

<div class="w3-main w3-content" style="text-align:center">
  <h4><%= link_to "Sign Up", signup_path %></h4>
  <h4><%= link_to "Login", login_path %></h4>
</div>
